{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">{{ article.title }}</h1>
        <p class="lead">Written by {{ article.author.get_full_name }}</p>
        <p class="lead">{{ article.date|date:'M d, Y'}}</p>
    </div>

{% endblock page_header %}

{% block content %}

        {% if article.image %}
            <img class="img-responsive" src="{{ article.image.url }}" alt="{{ article.image_alt }}"
                 height="auto" width="100%">
        {% endif %}

    <p class="lead">{{ article.body }}</p>
{% endblock content %}