{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the blog site project.</h1>

        <p class="lead">Welcome to the blog site project powered by django.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'blog:blog' %}" role="button">View blog &raquo;</a>
    </div>
{% endblock page_header %}

{% block content %}
    <p>The blog site project was created using python and the django framework.  The project was created purely as a
        learning exercise to explore the django framework and bootstrap components.
    </p>
{% endblock content %}