{% extends 'base.html' %}
{%  load bootstrap4 %}

{% block title %}User login{% endblock title %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Login</h1>
        <p class="lead">Please enter your username and password. </p>
    </div>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="login" class="btn btn-primary">Log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'blog:index' %}" />
    </form>

{% endblock content %}